body {
	font-size: 100%;
}

.careers-content-row {
	display: flex;
	flex-flow: row wrap;
	background-color: #f1f1f1;
}

.careers-content {
	flex: 90%;
	padding: 20px;
	margin-left: 5%;
	margin-right: 5%;
}
.careers-content hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}
.careers-content p , .careers-content ul{
	color: gray;
}

@media screen and (max-width: 1200px) {
	.cariere-content {
		flex: 100%;
		margin-left: 0%;
		margin-right: 0%;
	}
}

